@tailwind base;
@tailwind components;
@tailwind utilities;
/*  npx tailwindcss build
*/

@font-face {
    font-family: 'Montserrat';
    src: url(../public/fonts/Montserrat.ttf);
    font-display: fallback;
   }

/* Tu CSS personalizado aquí */
body {
    font-family: 'Montserrat', system-ui, -apple-system, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}


  .divLoader-out{
    top: -1000px;
  }






  
.terminal_toolbar {
  padding: 0 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn {
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  border: none;
  border-radius: 100%;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
  background: linear-gradient(#7d7871 0%, #595953 100%);
}

.btn-color{
  background: #ee411a;
}